body{
    font-family: 'Anaheim', sans-serif;
}

.hexContainer{
  display: flex;
  justify-content: center;
  align-items: center;   /* <--- Change here */
  height: 100%;
  width: 100%;
  font-size: 20px;
}



